.details{
   margin-top: 10px;
   margin-bottom: 25px;
   line-height: normal;
}
.company{
font-family: Calibri;
font-style: normal;
font-weight: bold;
font-size: 1.5em;
line-height: 18px;
/* identical to box height, or 129% */
}
.role{
   font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 1.666vw;
line-height: 18px;
/* identical to box height, or 150% */
color: #343434;
}
.duration{
   font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 1.5vw;
line-height: 18px;
/* identical to box height, or 200% */
color: #73808D;
}
.text{
   font-family: Calibri;
font-style: normal;
font-weight: normal;
font-size: 	1.333vw;
line-height: normal;
/* or 156% */
color: rgba(0, 0, 0, 0.8);

}