.head{
   padding-top: 10px;
}
.head-thing{
   width:max-content;
   padding-left: 20px;
   padding-right: 20px;
   background: #545454;
border-radius: 5px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
z-index: 999;
position: relative;
}
@media only screen and (max-width: 394px){
.head-thing{
   padding-left: 10px;
   padding-right: 10px;
}
}
